.gallery-section {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 10px; 
  box-sizing: border-box;
}

.gallery-title {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.gallery-row {
  max-width: 1200px; /* Limit the maximum width of the row */
  margin: 0 auto; /* Center the row with automatic left and right margins */
  padding: 0 20px; /* Add padding on the left and right sides */
  width: 100%; /* Ensure the row takes up the full width of its container */
  position: relative;
}


.title {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  padding-left: 20px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center; /* Center the images vertically */
  position: relative;
  width: 100%;
}

.prev-button, .next-button {
  background: none;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure buttons are on top of images */
}

.prev-button {
  left: 0px; /* Keep button inside the viewport */
}

.next-button {
  right: 0px; /* Keep button inside the viewport */
}

.image-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row; /* Change to column for stacking images and dots vertically */
  align-items: center; /* Center items horizontally */
  overflow: hidden;
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
  height: 200px;
}

.gallery-item {
  width: 30%; /* Ensure each image takes 30% of the available space */
  height: auto;
  margin: 0 65px; 
  box-sizing: border-box;
  padding: 0px;
}

.gallery-item img {
  width: 200px;
  height: 180px; /* Fixed height for all images */
  object-fit: cover;
  margin: 25px;
}

.pagination {
  position: relative; /* Positioned relative to the parent .gallery-row */
  margin-top: 10px;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.active-dot {
  background-color: grey;
}
